<html lang="en">

    <head>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <meta name="description" content="">

        <link rel="stylesheet" href="/frontAssets/css/style.css">

        <!-- =====BOX ICONS===== -->

        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>KS Admission</title>

    </head>

    <body>

        <!--===== HEADER =====-->

        <header class="l-header">

            <nav class="nav bd-grid">

                <div>

                    <a href="#" class="nav__logo">Suraj Patwal</a>

                </div>

                <div class="nav__menu" id="nav-menu">

                    <ul class="nav__list">

                        <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>

                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>

                        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>

                        <li class="nav__item"><a href="#showcase" class="nav__link">Showcase</a></li>

                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>

                    </ul>

                </div>

                <div class="nav__toggle" id="nav-toggle">

                    <i class='bx bx-menu'></i>

                </div>

            </nav>

        </header>

        <main class="l-main">

            <!--===== HOME =====-->

            <section class="home bd-grid" id="home">

                <div class="home__data">

                    <h1 class="home__title">Hi,<br>This is <span class="home__title-color">Suraj's</span><br>Creative Space</h1>

                    <a href="mailto:surajsenpai23@gmail.com" class="button">Contact</a>

                </div>

                <div class="home__social">

                    <a href="https://www.linkedin.com/in/adityakbare" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>

                    <a href="https://www.instagram.com/" class="home__social-icon"><i class='bx bxl-instagram' ></i></a>

                    <a href="" class="home__social-icon"><i class='bx bxl-behance' ></i></a>

                </div>

                <div class="home__img">

                  <svg class="home__blob" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="250" cy="250" r="30" fill="#aaf0b1" />

  <path d="M250 50 C280 90, 300 120, 250 150 C200 120, 220 90, 250 50" fill="#aaf0b1" />

  <path d="M250 50 C220 90, 200 120, 250 150 C300 120, 280 90, 250 50" fill="#8ce797" transform="rotate(45 250 250)" />

  <path d="M250 50 C220 90, 200 120, 250 150 C300 120, 280 90, 250 50" fill="#6fdf7d" transform="rotate(90 250 250)" />

  <path d="M250 50 C220 90, 200 120, 250 150 C300 120, 280 90, 250 50" fill="#52d663" transform="rotate(135 250 250)" />

  <path d="M250 50 C220 90, 200 120, 250 150 C300 120, 280 90, 250 50" fill="#34ce49" transform="rotate(180 250 250)" />

  <path d="M250 50 C220 90, 200 120, 250 150 C300 120, 280 90, 250 50" fill="#2dae42" transform="rotate(225 250 250)" />

  <path d="M250 50 C220 90, 200 120, 250 150 C300 120, 280 90, 250 50" fill="#268e37" transform="rotate(270 250 250)" />

  <path d="M250 50 C220 90, 200 120, 250 150 C300 120, 280 90, 250 50" fill="#268e37" transform="rotate(315 250 250)" />

                        </g>

                    </svg>

                </div>

            </section>

            <!--===== ABOUT =====-->

            <section class="about section " id="about">

                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">

                    <div class="about__img">

                        <img src="assets/img/about.jpg" alt="">

                    </div>

                    

                    <div>

                        <h2 class="about__subtitle">Who's Suraj?</h2>

                        <p class="about__text">The one who always excited to explore the digital world, and always eager to learn and grow.</p>           

                    </div>                                   

                </div>

            </section>

            <!--===== SKILLS =====-->

            <section class="skills section" id="skills">

                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">          

                    <div>

                        <h2 class="skills__subtitle">What drive him the most?</h2>

                        <p class="skills__text">A passion for creativity and meaningful impact, supported by key skills in digital communication, design, and marketing.</p>

                        <div class="skills__data">

                            <div class="skills__names">

                                <i class='bx bx-chat skills__icon'></i>

                                <span class="skills__name">Communication</span>

                            </div>

                            <div class="skills__bar skills__communication">

                            </div>

                            <div>

                                <span class="skills__percentage">90%</span>

                            </div>

                        </div>

                        <div class="skills__data">

                            <div class="skills__names">

                                <i class='bx bx-palette skills__icon'></i>

                                <span class="skills__name">Design</span>

                            </div>

                            <div class="skills__bar skills__design">

                                

                            </div>

                            <div>

                                <span class="skills__percentage">75%</span>

                            </div>

                        </div>

                        <div class="skills__data">

                            <div class="skills__names">

                                <i class='bx bx-news skills__icon' ></i>

                                <span class="skills__name">Content Editing</span>

                            </div>

                            <div class="skills__bar skills__content editing">

                                

                            </div>

                            <div>

                                <span class="skills__percentage">75%</span>

                            </div>

                        </div>

                        <div class="skills__data">

                            <div class="skills__names">

                                <i class='bx bx-refresh skills__icon'></i>

                                <span class="skills__name">Adaptability</span>

                            </div>

                            <div class="skills__bar skills__adaptability">

                                

                            </div>

                            <div>

                                <span class="skills__percentage">90%</span>

                            </div>

                        </div>

                    </div>

                    

                    <div>              

                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDKtGCW7NhGK4Ivf87-AaRDCQs66vJ-HxfHlvN44JhvEqPmnKqbEj460oJ&s=10" alt="" class="skills__img">

                    </div>

                </div>

            </section>

            <!--===== SHOWCASE =====-->

            <section class="showcase section" id="showcase">

                <h2 class="section-title">Showcase</h2>

                <div class="showcase__container bd-grid">

                    <a href="" class="showcase__img">

                        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/c868e1183199883.653bc47f749c1.jpg" alt="">

                    </a>

                    <a href="" class="showcase__img">

                        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/9a8290176291229.64c234732d5f3.png" alt="">

                    </a>

                    <a href="" class="showcase__img">

                        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/37fc8c176297853.64c249770a9c2.png" alt="">

                    </a>

                    <a href="" class="showcase__img">

                        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/851de4183051817.6538d114bcf3d.jpg" alt="">

                    </a>

                    <a href="" class="showcase__img">

                        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ce4e0a181824599.6522e6d6e2965.jpg" alt="">

                    </a>

                    <a href="" class="showcase__img">

                        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/acecf8180035269.6503b2dd4b93b.jpg" alt="">

                    </a>

                </div>

            </section>

            <!--===== CONTACT =====-->

            <section class="contact section" id="contact">

                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">

                    <form action="" class="contact__form">

                        <input type="text" placeholder="Name" class="contact__input">

                        <input type="mail" placeholder="Email" class="contact__input">

                        <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>

                        <input type="button" value="Submit" class="contact__button button">

                    </form>

                </div>

            </section>

        </main>

        <!--===== FOOTER =====-->

        <footer class="footer">

            <p class="footer__title">Thank You</p>

            <div class="footer__social">

                <a href="https://www.linkedin.com/in/adityakbare" class="footer__icon" target="_blank">
                  <i class='bx bxl-linkedin' ></i></a>

                <a href="https://www.instagram.com/in/" class="footer__icon" target="_blank">
                  <i class='bx bxl-instagram' ></i></a>

                <a href="https://adityakbare.myportfolio.com/" class="footer__icon" target="_blank">
                  <i class='bx bxl-adobe' ></i></a>

            </div>

            <p class="footer__copy">&#169; Suraj Patwal. All rigths reserved</p>

        </footer>


        <script src="https://unpkg.com/scrollreveal"></script>


        <script src="/frontAssets/js/main.js"></script>

    </body>

</html>