<header class="bg-info p-3">
    <nav class="container bg-info p-3">
      <ul class="nav d-flex justify-content-between text-dark" style="width: 100%;">
        <li><a href="/">Home</a></li>
        <li><a href="/admin/add-products">Add Products</a></li>
      </ul>
    </nav>
    </header>