<%- include('includes/head'); -%>
  </head>
  <body>
 <%- include('includes/header'); -%>
    <div class="container bg-dark text-light p-3">
      <div class="row card" style="width: 100%;">
        <h1>Product List</h1>
        <% if (prods.length === 0) { %>
            <div class="col-lg-4">
                <div class="card-body">
                    <p>No products found.</p>
                </div>
            </div>
                <% }else{ %>
            <div class="card-body">
                <ul>
                    <% for (let i = 0; i < prods.length; i++) { %>
                        <li><%= prods[i].title %></li>
                    <% } %>
                </ul>
            </div>
            <% } %>
        </div>
      </div>
    </div>
   
    <%- include('includes/footer'); -%>
